configuration {
    display-ssh:    " ";
    display-run:    " ";
    display-drun:   " ";
    display-window: " ";
    display-combi:  " ";
    show-icons:     true;
    font: "JetBrainsMono Nerd Font 12";
}

@theme "~/.config/rofi/catppuccin-mocha.rasi"
